<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OriginalityMapper">

	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

	<!-- 新增创意 -->
	<insert id="saveOriginality" parameterType="pd" flushCache="false">
		insert into QingdaoBigData.OriginalityCollections(
		<!-- ReservationID, -->
		Name,
		Description,
		Manner,
		Phone,
		Email,
		IntentionManner,
		Contact,
		TechnicalField,
		Position,
		Memo,
		CreatedBy,
		CreatedDate,
		ModifiedBy,
		ModifiedDate
		) values (
		<!-- #{ReservationID}, -->
		#{Name},
		#{Description},
		#{Manner},
		#{Phone},
		#{Email},
		#{IntentionManner},
		#{Contact},
		#{TechnicalField},
		#{Position},
		#{Memo},
		#{CreatedBy},
		<choose>
			<when test="CreatedDate!=null">
				#{CreatedDate},
			</when>
			<otherwise>null,</otherwise>
		</choose>
		#{ModifiedBy},
		<choose>
			<when test="ModifiedDate!=null">
				#{ModifiedDate}
			</when>
			<otherwise>null</otherwise>
		</choose>
		)
	</insert>
	<!-- 新增意见 -->
	<insert id="saveAdvice" parameterType="pd" flushCache="false">
		insert into QingdaoBigData.AdviceCollection(
		<!-- ID, -->
		Content,
		Memo,
		CreatedBy,
		CreatedDate,
		ModifiedBy,
		ModifiedDate
		) values (
		<!-- #{ID}, -->
		#{Content},
		#{Memo},
		#{CreatedBy},
		<choose>
			<when test="CreatedDate!=null">
				#{CreatedDate},
			</when>
			<otherwise>null,</otherwise>
		</choose>
		#{ModifiedBy},
		<choose>
			<when test="ModifiedDate!=null">
				#{ModifiedDate}
			</when>
			<otherwise>null</otherwise>
		</choose>
		)
	</insert>
</mapper>