<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PositionsMapper">
	
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>  
    	
	<!-- 获取所有position数据 -->
	<select id="findAllPosition" parameterType="pd" resultType="pd" useCache="false">
		SELECT 
			PositionID, Name
		FROM 
			QingdaoBigData.Positions	
		WHERE 
			PositionID != 0	
	</select>
</mapper>